<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <script src="https://kit.fontawesome.com/3e1d6422ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/carga_egreso.css">
    <link rel="stylesheet" href="/css/nuevo_proveedor.css">
    <link rel="stylesheet" href="/css/menu_principal.css">
    <style>
       body{
           background-color:floralwhite;
        }
      </style>
    <title>Cargar ingreso</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src='/js/handlebars-v4.7.6.js'></script>

    <script src="/js/cargar_ingreso.js"></script>
    
        <script src="/js/Helper.js"></script>
       <script id="address-template" type="text/x-handlebars-template"></script>

  </head>
<body>



<div id="nav_bar" class="row ">
       
    <div class="col-1"></div>
    
    <div class="col-1" ALIGN = left>
        <a style="margin-top: 10px; font-size: 40px; color: black" class="fas fa-home" href="/gesoc/home"></a>
    </div>
    
    <div class="col-6" ALIGN = left>
        <h1>Carga de Operación de Ingreso</h1>
    </div>

    <div class="col-2">
        <div ALIGN=left>
            <a href="/gesoc/bandeja_de_mensajes"><button id="boton_nav_bar" class="btn"><i class="far fa-envelope"></i> Bandeja de Mensaje </button></a>
        </div>
    </div>
    <div class="col-2">
        <div ALIGN=left>
            <a href="/gesoc/home/perfil"><button id="boton_nav_bar" class="btn"><i class="fas fa-user-alt"></i>Mi Perfil</button></a>
        </div>
    </div>
</div>

<div class = "row" id="label_caja">

<div class="col-1"></div>

<div class="col-5" id="div">
    <form  class="" action="/gesoc/nuevo_ingreso" method="post">

    <div class="row">
        <div class="col-4">
            <br><b>Fecha: </b>
        </div>
        <div class="col-6">
            <br><input name="fecha" type="date" style="width: inherit" required>
        </div>
    </div>

    <div class="row">
       <div class="col-4">
           <br><b><label>Valor Total: </label></b>
       </div>
       <div class="col-6">
           <br><input name="valor_total" type="text" style="width: inherit" required>
       </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <br><b><label>Descripción:</label></b>               
       </div>
       <div class="col-6">
           <br><textarea name="descripcion" style="width: inherit" required></textarea>
       </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <br><b><label>Moneda:</label></b>
        </div>   
        <div class="col-6">
            <br><select name="moneda_id" style="width: inherit" required>
                {{#each monedas}}
                    <option value="{{id}}">{{descripcion}}</option>
                {{/each}}
                </select>
        </div>
    </div>

    <div class="row">
       <div class="col-4">
           <br><b><label>Fecha de aceptabilidad:</label></b>
       </div>
       <div class="col-6">
          <br><input name="fecha_aceptabilidad" type="date" style="width: 100%" required>
      </div>
    </div>
       
    <div class="row">
       <div class="col-4">
           <br><b><label>Asociar Egreso/s:</label></b>
       </div>
       <div class="col-6">
           <br><select multiple id="egresos_asociados" name="egreso_asociado" style="width: inherit">
           </select>
       </div>
       <div class="col-2">
           <br><button type="button" onclick="mostrarEgresos()" class="botonRedondo" style="font-size: 14px; width: 100%">
               <b>Asociar egreso</b>
           </button><br>
           <br><button type="button" onclick="eliminarEgreso();" class="botonRedondo" style="font-size: 16px; width: 100%">
                <i class="fas fa-trash">Eliminar egreso</i>
       </button>
       </div>
    </div>
    
    <div class="row" style="margin-bottom: 15px">
        <input id="lectura_egresos" name="lectura_egresos" style="display: none;">
        <div class="col-2"></div>
        <div class="col-3">
            <br><a href="/gesoc/cargar_ingreso"><button class="botonRedondo" type="button" style="width: 100%">Cancelar</button></a>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <br><button  onclick="cargarIngreso();" type="submit" class="botonRedondo" style="width: 100%">
                Finalizar
            </button>
        </div> 
    </div>

    </form>
</div>

<div class="col-5" style="display: none" id="ListaEgresos">
   <div id="div" style="height:550px">
        <div class="row">
          <div class="col-1"></div>
           <div class="col-10">

                <table id="egreso_seleccionado" style="width: inherit" class="table table-striped">
                   <thead>
                   <tr>
                       <th></th>
                       <th>Número de egreso</th>
                       <th>Fecha</th>
                       <th>Valor Total</th>
                   </tr>
                   </thead>
                   <tbody>
                   {{#each egresos}}
                   <tr>
                       <td><input name="{{numeroOp}} {{fecha}} {{valorTotal}}" id="{{@index}}" value="{{id}}" type="checkbox" /></td>
                       <td>{{numeroOp}}</td>
                       <td>{{fecha}}</td>
                       <td>{{valorTotal}}</td>
                   </tr>
                   {{/each}}
                   </tbody>
               </table>
            </div>
        </div>
        <div class="row">
            <div class="col-9"></div>
            <div class="col-2">
                <br><button onclick="asociarEgreso()" class="botonRedondo" style="width: 100%">
                    Asociar
                </button><br>
            </div>
        </div>
    </div>
</div>

<div class="col-1"></div>

</div>

{{#if mostrar_modal}} 

<div id="modal_prueba" class="modal fade" role="dialog" >
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color:{{color_modal}};">

        <h4 class="modal-title">{{modal_titulo}}</h4>
      </div>
      <div class="modal-body">
        <p>{{aviso_modal}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
{{/if}}

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>$("#modal_prueba").modal();</script>

</body>
</html>