<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/3e1d6422ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/menu_principal.css">
    <link rel="stylesheet" href="/css/carga_egreso.css">
    <link rel="stylesheet" href="/css/nuevo_proveedor.css">
    <link rel="stylesheet" href="/css/modal_mediano.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script src="/js/ajax_ingresos.js"></script>
    
    <style>
       body{
            /*background-image: url('assets/fondoMadera.jpg');      */
           background-color:floralwhite;
        }
    </style>
    
    <title>Operaciones de Ingreso</title>
</head>
<body>
<div id="nav_bar" class="row ">
       
    <div class="col-1"></div>
    
    <div class="col-1" ALIGN = left>
        <a style="margin-top: 10px; font-size: 40px; color: black" class="fas fa-home" href="/gesoc/home"></a>
    </div>
    
    <div class="col-6" ALIGN = left>
        <h1>Operaciones de ingreso</h1>
    </div>

    <div class="col-2">
        <div ALIGN=left>
            <a href="/gesoc/bandeja_de_mensajes"><button id="boton_nav_bar" class="btn"><i class="far fa-envelope"></i> Bandeja de Mensaje </button></a>
        </div>
    </div>
    <div class="col-2">
        <div ALIGN=left>
            <a href="/gesoc/home/perfil"><button id="boton_nav_bar" class="btn"><i class="fas fa-user-alt"></i>Mi Perfil</button></a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px; margin-left: 20px">
    <div class="col-3">
        <input type="text" name="" value="" placeholder="Buscar" id="inputIngreso" style="height: 30px; width: 100%">
    </div>
</div>

<div class="row" style="margin-top: 10px; margin-left: 10px; margin-right: 10px">
    <div class="col-12" class="misOperaciones" style="background-color: white; overflow-y: scroll; overflow-x: scroll; max-height: 650px; scrollCollapse: true">
        <table style="width: 100%" id="tablaIngresos" class="table table-striped">
            <thead style="font-size: 18px">
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Valor total</th>
                <th>Moneda</th>
                <th>Fecha de Aceptabilidad</th>
                <th>Egresos asociados</th>
            </tr>
          </thead>
        <tbody>
        {{#each ingresosOrganizacion}}
            <tr>
                <td>{{fecha}}</td>
                <td>{{descripcion}}</td>
                <td>{{valorTotal}}</td>
                <td>{{moneda.descripcion}}</td>
                <td>{{fechaDeAceptabilidadEgreso}}</td>

                {{#if egresos}}
                    <td><a href="#modalEgresos"><button class="botonRedondo" onclick="pedirEgresos({{id}})">Ver egresos</button></a></td>
                {{/if}}
                {{#unless egresos}}
                    <td><a href="#modalNoEgresos"><button class="botonRedondo">Ver egresos</button></a></td>
                {{/unless}}

            </tr>
        {{/each}}
        </tbody>
   </table>
</div>

</div>

<div id="modalEgresos" class="modalDialogMediano">
    <div>
        <a href="#close" title="Close" class="close">X</a>

        <h3 align = "center" id="tituloEgresos"></h3>

        <div class="row">

            <div class="col-1"></div>

            <div class="col-10" id="rowTabla" style="display:none">
                <table id="tablaEgresosIngreso" style="width: 100%; max-height: 600px; overflow-y: scroll" class="table table-striped">
                    <thead>
                    <tr>
                        <th nowrap="true">Número egreso</th>
                        <th nowrap="true">Fecha</th>
                        <th nowrap="true">Valor total</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>

            <div class="col-1"></div>

        </div>

        <div class="row" id="rowBoton" style="display:none">
            <div class="col-3"></div>
            <a href="/gesoc/cargar_presupuesto"><button class="botonRedondo" id="botonPresupuestos" style="width: 100%">Agregar presupuesto/s</button></a>
        </div>
    </div>
</div>

<div id="modalNoEgresos" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <div id="label_caja_presupuesto">

            <div class="row">
                <h3 align = "center">Este ingreso no tiene ningún egreso asociado <i class="far fa-meh"></i></h3>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <a href="/gesoc/asociar_ingreso_egreso"><button id="buttonAsociar" class ="botonRedondo" style="width: 100%">Asociar Egreso/s</button></a>
                </div>
            </div>

        </div>
    </div>
</div>
            

</body>
</html>
